<section class="account-sec">
    <div class="container">
        <div class="main-accnt forgot-pass login-main">
            <p>Welcome Back!</p>
            <h3>LOG IN TO YOUR ACCOUNT </h3>
            <div class="forgot-frm login-frm">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    
                    <%= f.email_field :email, class: "addr-field change-field", placeholder: "Email Address " %>
                    <%= f.password_field :password, autocomplete: "off", class: "addr-field change-field", placeholder: "Password" %>
                     <%= link_to "Forgot your password?", new_user_password_path , class: "pull-right" %> 
                    <div class="aply-btn order-btn">
                        <%= f.submit "Login", class: "apply-bttn order-btn" %>
                    </div>
                    
                    <p><span>OR</span></p>
                    <div class="fb-login clearfix">
                        <a class="fb-share" href="#"><span><i aria-hidden="true" class="fa fa-facebook"></i></span>Login with facebook</a>
                        <a class="tw-share" href="#"><span><i aria-hidden="true" class="fa fa-twitter"></i></span>Login with twitter</a>
                    </div>
                    <h5>Don't have an account? <%= link_to "Sign up for free", new_user_registration_path %></h5>
               <% end %>
            </div>
            
        </div>
        
    </div>
</section> 
